/* Estilo geral do body com gradiente e sombra */
body {
    background: linear-gradient(135deg, rgba(255, 20, 147, 0.7), rgba(255, 105, 180, 0.7));
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

/* Cabeçalho com sombra no texto */
#header {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0), 0 0 30px rgb(7, 7, 7), 0 0 40px rgb(0, 0, 0), 0 0 70px rgb(0, 0, 0), 0 0 80px rgb(0, 0, 0);
    margin: 20px 0;
}

/* Estilo para as seções de produtos */
section {
    margin: 50px 20px;
    padding: 30px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

/* Efeito de zoom nas seções ao passar o mouse */
section:hover {
    transform: scale(1.05);
}

h2 {
    text-align: center;
    color: #FFD700;
}

p {
    color: white;
    text-align: justify;
}

/* Estilo das imagens de produtos */
#img1, #img2 {
    width: 100px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

#img1:hover, #img2:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.8);
}

/* Estilos dos links */
.links {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
}

.links:hover {
    color: #FF4500;
}

/* Contato e Política - melhorando a organização */
#contato, #politica, #empresa {
    font-size: 12px;
    margin: 20px;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 10PX 10px 10px 10px rgba(0, 0, 0, 0.3);
}

/* Footer */
footer {
    display: flex;
    justify-content: space-around;
    background-color: pink;
    padding: 20px;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3);
}
